body {
  font: 20px; Arial, sans-serif;
}

.navbar {
  background-color: #5e6100;
}

.quem-somos {
  background-color: aqua;
}

.margin {
  padding-top: 30px;
  background-color: #5e6100;
  padding-bottom: 50px;
}
/* margin-top não iria funcionar bem, mas tente!